@import url("main.css");

h1,
p.lead {
  color: var(--clr-text-accent-1);
}

.top-nav {
  background-color: var(--clr-text-accent-1);
  color: var(--clr-brand);
}

.main-nav {
  background-color: var(--clr-brand);
  color: var(--clr-text-white);
}

.main-nav .nav-primary .nav-link:hover {
  border-bottom: 3px solid var(--clr-text-white);
}

.hero-content a {
  margin-right: calc(var(--gap) * 1.5);
}

.hero-bg {
  background-image: url(../assets/image/business-hero-background.webp);
}

.chevron::after {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke='white' stroke-width='60' x1='80' x2='320' y1='80' y2='320' stroke-linecap='round' /%3E%3Cline stroke='white' stroke-width='60' x1='560' x2='320' y1='80' y2='320' stroke-linecap='round' /%3E%3C/svg%3E");
}

.btn.btn-outline-light:where(a):hover,
.btn.btn-outline-light:where(a):focus-visible {
  background-color: var(--clr-text-regular);
  color: var(--clr-text-accent-1);
}

.btn.btn-outline-dark:where(a):hover,
.btn.btn-outline-dark:where(a):focus-visible {
  background-color: transparent;
  color: var(--clr-text-regular);
  box-shadow: inset 0 0 0 1px var(--clr-text-regular);
}

.article-list {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  gap: calc(var(--gap) * 4);
}

.article-list > img {
  border-radius: calc(var(--rds) * 0.8);
}