@import url("main.css");

h1,
p.lead {
  color: var(--clr-brand);
}

.top-nav,
.footer {
  background-color: var(--clr-brand);
  color: var(--clr-text-accent-1);
}

.main-nav {
  background-color: var(--clr-bg-regular);
}

/* Underline hover för Main Nav Primary */
.main-nav .nav-primary .nav-link:hover {
  border-bottom: 3px solid var(--clr-brand);
}

.hero-bg {
  background-image: url(../assets/image/dog-hero-background_003.webp);
}

/* Chevron color till höger för Main Nav Primary */
.chevron::after {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke='black' stroke-width='60' x1='80' x2='320' y1='80' y2='320' stroke-linecap='round' /%3E%3Cline stroke='black' stroke-width='60' x1='560' x2='320' y1='80' y2='320' stroke-linecap='round' /%3E%3C/svg%3E");
}

.article-list {
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: var(--gap);
}

.article-card {
  flex-direction: column;
  align-items: start;
  background-color: var(--clr-bg-regular);
  padding: calc(var(--gap) * 2);
  border-radius: calc(var(--rds) * 0.8);
}

.article-card a:hover,
.article-card a:focus-visible {
  text-decoration: underline;
  text-underline-offset: calc(var(--gap) / 3);
}

.article-card:last-child {
  background-color: var(--clr-bg-accent-2);
}

.article-card:last-child h3,
.article-card:last-child p {
  color: var(--clr-text-accent-1);
}